<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a routerLink="list">List</a></li>
      <li><a routerLink="display">Display</a></li>
      <li><a routerLink="select">Select</a></li>
      <!--<li><a routerLink="create">Create</a></li>-->
      <li><a routerLink="edit/0">Create</a></li>
      <li><a routerLink="gridEmployee">Grid Employee</a></li>
      <li><a routerLink="ImageUpload">Upload Image</a></li>
      <li><a routerLink="EmployeeSalary">Employee Salary</a> </li>
      <li><a href="#">Transactions</a><ul><li><a routerLink="PayrollAdjustment">Payroll Adjustment</a> </li></ul></li>
      <li><a routerLink="PayrollAdjustmentDetails">Payroll Adjustment List</a> </li>
      <li><a routerLink="PaymentDetails">Payment Details</a> </li>
    </ul>
  </nav>
  <div *ngIf="showLoadingIndicator" class="spinner"></div>
  <router-outlet></router-outlet>
</div>
<script src="Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#blah')
          .attr('src', e.target.result)
          .width(150)
          .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
